<template>
  <div>
    <section class="news-2-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="news-title text-center">
              <h3 class="title">News &amp; articles.</h3>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-7 col-sm-9"
            v-for="blog in blogs"
            :key="blog.id"
          >
            <div class="news-item mt-30">
              <div class="news-thumb">
                <img src="assets/images/news-1.jpg" alt="news" />
              </div>
              <div class="news-content">
                <ul>
                  <li><i class="fa fa-user-o"></i> by admin</li>
                  <li>
                    <i class="fa fa-comments-o"></i>
                    3 comments
                  </li>
                </ul>
                <inertia-link href="/blog/" class="title">
                  {{ blog.title }}
                </inertia-link>
                <inertia-link
                  ><i class="flaticon-right-arrow"></i
                ></inertia-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="news-pattern">
        <img src="assets/images/fun-facts-pattern.png" alt="" />
      </div>
    </section>
  </div>
</template>
<script>
export default {
  props: ["blogs"],
};
</script>