<template>
  <div>
    <footer id="page-footer" class="bg-body-light">
      <div class="content py-0">
        <div class="row font-size-sm">
          <div
            class="col-sm-6 order-sm-2 mb-1 mb-sm-0 text-center text-sm-right"
          >
            Made by
            <a class="font-w600" href="https://goo.gl/vNS3I" target="_blank"
              >Demscript</a
            >
          </div>
          <div class="col-sm-6 order-sm-1 text-center text-sm-left">
            <a class="font-w600" href="https://goo.gl/mDBqx1" target="_blank"
              >Blog</a
            >
            ©
            <span data-toggle="year-copy" class="js-year-copy-enabled">{{
              new Date().getFullYear()
            }}</span>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>
