<template>
  <div>
    <nav id="sidebar" aria-label="Main Navigation" data-simplebar="init">
      <div class="simplebar-track vertical" style="visibility: visible">
        <div
          class="simplebar-scrollbar"
          style="visibility: visible; top: 0px; height: 233px"
        ></div>
      </div>
      <div class="simplebar-track horizontal" style="visibility: hidden">
        <div class="simplebar-scrollbar"></div>
      </div>
      <div
        class="simplebar-scroll-content"
        style="padding-right: 17px; margin-bottom: -34px"
      >
        <div
          class="simplebar-content"
          style="padding-bottom: 17px; margin-right: -17px"
        >
          <!-- Side Header -->
          <div class="bg-header-dark">
            <div class="content-header bg-white-10">
              <!-- Logo -->
              <a
                class="link-fx font-w600 font-size-lg text-white"
                href="index.html"
              >
                <span class="smini-visible">
                  <span class="text-white-75">D</span
                  ><span class="text-white">x</span>
                </span>
                <span class="smini-hidden">
                  <span class="text-white-75">Blog</span
                  ><span class="text-white">App</span>
                </span>
              </a>
              <!-- END Logo -->

              <!-- Options -->
              <div>
                <!-- Toggle Sidebar Style -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                <!-- Class Toggle, functionality initialized in Helpers.coreToggleClass() -->
                <a
                  class="js-class-toggle text-white-75"
                  data-target="#sidebar-style-toggler"
                  data-class="fa-toggle-off fa-toggle-on"
                  data-toggle="layout"
                  data-action="sidebar_style_toggle"
                  href="javascript:void(0)"
                >
                  <i class="fa fa-toggle-off" id="sidebar-style-toggler"></i>
                </a>
                <!-- END Toggle Sidebar Style -->

                <!-- Close Sidebar, Visible only on mobile screens -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                <a
                  class="d-lg-none text-white ml-2"
                  data-toggle="layout"
                  data-action="sidebar_close"
                  href="javascript:void(0)"
                >
                  <i class="fa fa-times-circle"></i>
                </a>
                <!-- END Close Sidebar -->
              </div>
              <!-- END Options -->
            </div>
          </div>
          <!-- END Side Header -->

          <!-- Side Navigation -->
          <div class="content-side content-side-full">
            <ul class="nav-main">
              <li class="nav-main-item">
                <a class="dropdown-toggle" href="/dashboard">
                  <i class="nav-main-link-icon si si-cursor"></i>
                  <span class="nav-main-link-name">Dashboard</span>
                  <span
                    class="nav-main-link-badge badge badge-pill badge-success"
                    >5</span
                  >
                </a>
              </li>
              <li class="nav-main-heading">Base</li>
              <li class="nav-main-item">
                <inertia-link class="nav-main-link" href="/manage-blog">
                  <span class="nav-main-link-name">Manage Blog</span>
                </inertia-link>
              </li>
              <li class="nav-main-item">
                <inertia-link class="nav-main-link" href="/manage-comment">
                  <span class="nav-main-link-name">Manage Comment</span>
                </inertia-link>
              </li>
            </ul>
          </div>
          <!-- END Side Navigation -->
        </div>
      </div>
    </nav>
  </div>
</template>
