<template>
  <div>
    <header class="main-header">
      <nav
        class="
          navbar
          header-nav header-white header-transparent
          navbar-expand-lg
        "
      >
        <div class="container">
          <!-- Brand -->
          <a class="navbar-brand" href="https://jamesolaogun.com/"
            >James E.<span></span
          ></a>
          <!-- / -->
          <!-- Mobile Toggle -->
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-collapse-toggle"
            aria-controls="navbar-collapse-toggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span></span>
            <span></span>
            <span></span>
          </button>
          <!-- / -->
          <!-- Top Menu -->
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbar-collapse-toggle"
          >
            <ul class="navbar-nav ml-auto">
              <li>
                <a class="nav-link active" href="https://jamesolaogun.com/"
                  ><span>Home</span></a
                >
              </li>
              <li>
                <a class="nav-link" href="https://jamesolaogun.com/#about"
                  ><span>About</span></a
                >
              </li>
              <li>
                <a class="nav-link" href="https://jamesolaogun.com/#work"
                  ><span>Projects</span></a
                >
              </li>
              <li>
                <a class="nav-link" href="https://jamesolaogun.com/blog"
                  ><span>Blog</span></a
                >
              </li>
              <li>
                <a class="nav-link" href="https://jamesolaogun.com/#contactme"
                  ><span>Contact</span></a
                >
              </li>
            </ul>
          </div>
          <!-- / -->
        </div>
        <!-- Container -->
      </nav>
      <!-- Navbar -->
    </header>
    <section class="blog-details">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="blog-details__main">
              <div class="blog-details__image">
                <img src="assets/images/blog-details-thumb.jpg" alt="thumb" />
              </div>
              <!-- /.blog-details__image -->
              <div class="blog-details__content">
                <div class="blog-one__meta">
                  <a href="#"><i class="fa fa-user-o"></i> by admin</a>
                  <a href="#"
                    ><i class="fa fa-comments-o"></i>
                    {{ comments.length }} comments</a
                  >
                </div>
                <!-- /.blog-one__meta -->
                <h3>{{ blog.title }}</h3>
                <p>
                  {{ blog.content }}
                </p>
              </div>
              <!-- /.blog-details__content -->

              <!-- /.blog-details__meta -->
            </div>

            <div class="comment-one">
              <h3 class="comment-one__block-title">
                {{ comments.length }} Comments
              </h3>
              <!-- /.comment-one__block-title -->
              <div
                v-for="commento in comments"
                :key="commento.id"
                class="comment-one__single"
              >
                <!-- /.comment-one__image -->
                <div class="comment-one__content">
                  <h3>
                    {{ commento.name }}
                    <span class="comment-one__date">
                      {{ moment(commento.created_at).format("DD-MM-YYYY") }}
                      <!-- {{commento.created_at->format('d M Y')}} -->
                    </span>
                  </h3>

                  <p>
                    {{ commento.comment }}
                  </p>
                </div>
                <!-- /.comment-one__content -->
                <!-- <div class="blog-btn">
                  <a href="#" class="main-btn main-btn-2"
                    >Reply <i class="flaticon-right-arrow"></i
                  ></a>
                </div> -->
                <!-- /.thm-btn comment-one__btn -->
              </div>
            </div>
            <!-- /.comment-one -->
            <div class="comment-form">
              <h3 class="comment-one__block-title">Leave a Comment</h3>
              <!-- /.comment-one__block-title -->
              <form
                ref="comment"
                action="#"
                class="contact-one__form"
                @submit.prevent="submit(blog.id)"
              >
                <VueElementLoading
                  :active="loading"
                  spinner="line-scale"
                  color="#0665d0"
                />
                <div class="row">
                  <div class="col-lg-12">
                    <div class="input-box">
                      <p style="color: red">
                        {{ errors.name }}
                      </p>
                      <input
                        type="text"
                        placeholder="name"
                        v-model="comment.name"
                      />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="input-box">
                      <p style="color: red">
                        {{ errors.comment }}
                      </p>
                      <textarea
                        placeholder="Comment"
                        v-model="comment.comment"
                      ></textarea>
                    </div>
                  </div>
                  <!-- /.col-lg-12 -->
                  <div class="col-lg-12 text-left">
                    <div class="input-box">
                      <button
                        @submit.prevent="submit(blog.id)"
                        class="main-btn main-btn-2"
                      >
                        Send message
                      </button>
                    </div>
                    <!-- /.thm-btn contact-one__btn -->
                  </div>
                  <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
              </form>
              <!-- /.contact-one__form -->
            </div>
            <!-- /.comment-form -->
          </div>
          <!-- /.col-lg-8 -->
          <div class="col-lg-4 col-md-6 col-sm-7">
            <div class="sidebar">
              <div class="sidebar__single sidebar__search">
                <form action="#" class="sidebar__search-form">
                  <input
                    type="text"
                    name="search"
                    placeholder="Search Blog here..."
                    v-model="search.name"
                    @keyup="searchBlog"
                  />
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
              <!-- /.sidebar__single -->
              <div
                v-if="searchBlogs !== ''"
                class="sidebar__single sidebar__category"
              >
                <h3 class="sidebar__title">Blogs</h3>
                <!-- /.sidebar__title -->
                <div
                  class="sidebar__post__single"
                  v-for="searchBlog in searchBlogs"
                  :key="searchBlog.id"
                >
                  <div class="sidebar__post-image">
                    <div class="inner-block">
                      <img src="assets/images/post-1.png" alt="Awesome Image" />
                    </div>
                    <!-- /.inner-block -->
                  </div>
                  <!-- /.sidebar__post-image -->
                  <div class="sidebar__post-content">
                    <h4 class="sidebar__post-title">
                      <inertia-link :href="searchBlog.id"
                        >{{ searchBlog.title }}
                      </inertia-link>
                    </h4>
                    <!-- /.sidebar__post-title -->
                  </div>
                  <!-- /.sidebar__post-content -->
                </div>
                <!-- /.sidebar__category-list -->
              </div>
              <!-- /.sidebar__single -->

              <!-- /.sidebar__single -->

              <!-- /.sidebar__single -->
            </div>
            <!-- /.sidebar -->
          </div>
          <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
  </div>
</template>
<script>
import axios from "axios";
import moment from "moment";
import VueElementLoading from "vue-element-loading";

export default {
  components: {
    axios,
    VueElementLoading,
  },
  props: ["blog", "comments", "commentNum"],

  data() {
    return {
      moment: moment,
      errors: "",
      search: {},
      loading: false,
      searchBlogs: "",
      comment: {
        id: this.blog.id,
      },
    };
  },
  methods: {
    searchBlog() {
      axios.post("/blog/search-blog", this.search).then((res) => {
        this.searchBlogs = res.data;
      });
    },
    submit() {
      this.loading = true;
      axios
        .post("/blog/addComment", this.comment)
        .then((res) => {
          this.$refs.comment.reset;
          this.loading = false;
          this.getComments();
          this.toaster(res.data, "success");
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getComments() {
      axios
        .post("/blog/getComments", this.comment)
        .then((res) => (this.comments = res.data));
    },
  },
};
</script>
