<template>
  <div>
    <layout>
      <div
        class="bg-image"
        style="background-image: url('assets/media/various/bg_dashboard.jpg')"
      >
        <div class="bg-white-90">
          <div class="content content-full">
            <div class="row">
              <div class="col-md-6 d-md-flex align-items-md-center">
                <div
                  class="
                    py-4 py-md-0
                    text-center text-md-left
                    js-appear-enabled
                    animated
                    fadeIn
                  "
                  data-toggle="appear"
                >
                  <h1 class="font-size-h2 mb-2">{{ title }}</h1>
                  <h2 class="font-size-lg font-w400 text-muted mb-0">
                    {{ subtitle }}
                  </h2>
                </div>
              </div>
              <div class="col-md-6 d-md-flex align-items-md-center">
                <div class="row w-100 text-center">
                  <div
                    class="
                      col-6 col-xl-4
                      offset-xl-4
                      js-appear-enabled
                      animated
                      fadeIn
                    "
                    data-toggle="appear"
                    data-timeout="300"
                  >
                    <p class="font-size-h3 font-w600 text-body-color-dark mb-0">
                      <!-- {{ usersNo }} -->
                    </p>
                    <p class="font-size-sm font-w700 text-uppercase mb-0">
                      <i class="far fa-users text-muted mr-1"></i> Users
                    </p>
                  </div>
                  <div
                    class="col-6 col-xl-4 js-appear-enabled animated fadeIn"
                    data-toggle="appear"
                    data-timeout="600"
                  >
                    <p class="font-size-h3 font-w600 text-body-color-dark mb-0">
                      <!-- {{ activeUsersNo }} -->
                    </p>
                    <p class="font-size-sm font-w700 text-uppercase mb-0">
                      <i class="text-muted mr-1"></i> Active Users
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <!-- Main Chart -->
        <div
          class="
            block block-rounded block-mode-loading-refresh
            js-appear-enabled
            animated
            fadeIn
          "
          data-toggle="appear"
        >
          <div class="block-header block-header-default">
            <h3 class="block-title">{{ title }}</h3>
            <div class="block-options">
              <!-- <input
                type="text"
                name=""
                id=""
                placeholder="Search"
                v-model="search.name"
                @keyup="searchBlog"
              /> -->
              <!-- <button
                type="button"
                class="btn btn-primary align-middle"
                data-toggle="modal"
                data-target="#addComment"
                data-action-mode=""
              >
                <i class="si si-plus"></i> Add Comment
              </button> -->
            </div>
          </div>
          <div class="block-content block-content-full">
            <div class="table-responsive">
              <div class="row">
                <div class="col-md-12">
                  <div class="block block-fx-shadow"></div>
                </div>
              </div>
              <table
                v-if="comments.data != ''"
                class="
                  table table-striped table-hover table-borderless table-vcenter
                  font-size-sm
                "
              >
                <VueElementLoading
                  :active="loading"
                  spinner="line-scale"
                  color="#0665d0"
                />
                <thead>
                  <th>S/N</th>
                  <th>Blog Title</th>
                  <th>Comment</th>
                  <th>Status</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr
                    v-for="(comment, index) in comments.data"
                    :key="comment.id"
                  >
                    <td>{{ index + 1 }}</td>
                    <td>{{ comment.comment }}</td>
                    <td>{{ comment.comment }}</td>
                    <td>{{ comment.status }}</td>
                    <td>
                      <div class="dropdown">
                        <button
                          type="button"
                          class="
                            btn btn-sm btn btn-outline-primary
                            dropdown-toggle
                          "
                          ng-click="setCurrent(reg)"
                          id="dropdown-default-outline-primary"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <i class="si si-settings"></i>
                        </button>
                        <div
                          class="dropdown-menu dropdown-menu-right"
                          aria-labelledby="dropdown-default-outline-primary"
                        >
                          <button
                            class="dropdown-item"
                            name=""
                            data-toggle="modal"
                            data-target="#editForm"
                            @click="getCurrent(user)"
                          >
                            Edit
                          </button>
                          <button class="dropdown-item" name="">Delete</button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <th>S/N</th>
                  <th>Image</th>
                  <th>Title</th>
                  <th>Content</th>
                  <th>Action</th>
                </tfoot>
              </table>
              <div style="text-align: center" v-else>
                <h3 class="alert alert-primary">No Record Found</h3>
              </div>
              <pagination
                :data="comments"
                @pagination-change-page="getComments"
              ></pagination>
            </div>
          </div>
        </div>
        <!-- END Main Chart -->

        <!-- END Users and Purchases -->
      </div>
      <!-- start update reg1 -->
      <div
        class="modal fade"
        id="addComment"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modal-block-popin"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-popin modal-lg" role="document">
          <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
              <div class="block-header bg-primary">
                <h3 class="block-title">Add Comment</h3>
                <div class="block-options">
                  <button
                    type="button"
                    class="btn-block-option"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <i class="fa fa-fw fa-times"></i>
                  </button>
                </div>
              </div>
              <form
                class="form"
                method="post"
                action=""
                enctype="multipart/form-data"
              >
                <VueElementLoading
                  :active="form.loading"
                  spinner="line-scale"
                  color="#0665d0"
                />
                <div class="block-content">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="block block-bordered block-fx-shadow">
                        <div class="block-header">
                          <!-- <h3 class="block-title">Basic<small> Info</small></h3> -->
                        </div>
                        <div class="block-content">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <select name="" id="" class="form-control">
                                  <option
                                    value=""
                                    v-for="(index, blog) in blogs.data"
                                    :key="blog.id"
                                  >
                                    {{ blog.title }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <!-- <div class="col-md-6">
                              <div class="alert alert-info">
                                <p>
                                  Note! On every account created the default
                                  password is the surnname and you will recieve
                                  an account activation E-mail
                                </p>
                              </div>
                            </div> -->
                            <div class="col-md-12">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      Title
                                    </span>
                                  </div>
                                  <textarea
                                    class="form-control"
                                    name="basic[address]"
                                    required=""
                                    v-model="form.title"
                                  ></textarea>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-12">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      Content
                                    </span>
                                  </div>
                                  <textarea
                                    class="form-control"
                                    name="basic[address]"
                                    required=""
                                    v-model="form.content"
                                  ></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button aria-hidden="true" data-dismiss="modal" class="btn">
                    Close
                  </button>
                  <button
                    class="btn btn-primary"
                    type="submit"
                    name="registerCourse"
                    @click.prevent="submit"
                  >
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- <div
        class="modal fade"
        id="editForm"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modal-block-popin"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-popin modal-lg" role="document">
          <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
              <div class="block-header bg-primary">
                <h3 class="block-title">Edit User</h3>
                <div class="block-options">
                  <button
                    type="button"
                    class="btn-block-option"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <i class="fa fa-fw fa-times"></i>
                  </button>
                </div>
              </div>
              <form class="form" method="post" action="">
                <VueElementLoading
                  :active="editForm.editLoading"
                  spinner="line-scale"
                  color="#0665d0"
                />
                <div class="block-content">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="block block-bordered block-fx-shadow">
                        <div class="block-header">
                          <h3 class="block-title">Basic<small> Info</small></h3>
                        </div>
                        <div class="block-content">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <input
                                  type="file"
                                  name="filename"
                                  class="dropify"
                                  data-height="300"
                                  data-max-file-size="2M"
                                  data-allowed-file-extensions="jpg jpeg png"
                                  required=""
                                />
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="alert alert-info">
                                <p>
                                  Note! On every account created the default
                                  password is the surnname and you will recieve
                                  an account activation E-mail
                                </p>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      Last Name
                                    </span>
                                  </div>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="basic[lname]"
                                    required=""
                                    v-model="editForm.surname"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      First Name
                                    </span>
                                  </div>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="basic[fname]"
                                    required=""
                                    v-model="editForm.name"
                                  />
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      Other Name
                                    </span>
                                  </div>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="basic[mname]"
                                    required=""
                                    v-model="editForm.othername"
                                  />
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      Phone
                                    </span>
                                  </div>
                                  <input
                                    type="text"
                                    maxlength="14"
                                    class="form-control"
                                    name="basic[phone]"
                                    required=""
                                    v-model="editForm.phone"
                                  />
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      Email
                                    </span>
                                  </div>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="basic[email]"
                                    required=""
                                    v-model="editForm.email"
                                  />
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      Gender
                                    </span>
                                  </div>
                                  <select
                                    class="form-control custom-select"
                                    name="basic[sex]"
                                    required=""
                                    v-model="editForm.gender"
                                  >
                                    <option value="">-Choose-</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      Date of Birth
                                    </span>
                                  </div>
                                  <input
                                    type="date"
                                    class="form-control"
                                    id="example-datepicker3"
                                    name="basic[dob]"
                                    required=""
                                    v-model="editForm.dob"
                                  />
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      State of Origin
                                    </span>
                                  </div>
                                  <select
                                    class="form-control custom-select"
                                    @change="getLgas(editForm.state)"
                                    required=""
                                    v-model="editForm.state"
                                  >
                                    <option value="">-Choose-</option>
                                    <option
                                      v-for="state in states"
                                      :key="state.id"
                                      :value="state.id"
                                    >
                                      {{ state.state_name }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"> LGA </span>
                                  </div>
                                  <select
                                    class="form-control custom-select"
                                    name="basic[lga]"
                                    required=""
                                    v-model="editForm.lga"
                                  >
                                    <option value="">-Choose-</option>
                                    <option
                                      v-for="lga in lgas"
                                      :key="lga.id"
                                      :value="lga.id"
                                    >
                                      {{ lga.lga_name }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      Physical Disability
                                    </span>
                                  </div>
                                  <select
                                    class="form-control custom-select"
                                    name="basic[disability]"
                                    required=""
                                    v-model="editForm.disability"
                                  >
                                    <option value="">--Choose--</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      Religion
                                    </span>
                                  </div>
                                  <select
                                    class="form-control custom-select"
                                    name="basic[religion]"
                                    required=""
                                    v-model="editForm.religion"
                                  >
                                    <option value="">-Choose-</option>
                                    <option value="islamic">Islam</option>
                                    <option value="christian">
                                      Christianity
                                    </option>
                                    <option value="other">Traditional</option>
                                    <option value="other">Others</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      Marital Status
                                    </span>
                                  </div>
                                  <select
                                    class="form-control custom-select"
                                    name="basic[marital]"
                                    required=""
                                    v-model="editForm.marital_status"
                                  >
                                    <option value="">-Choose-</option>
                                    <option value="Married">Married</option>
                                    <option value="Single">Single</option>
                                    <option value="Divorce">Divorce</option>
                                    <option value="widow">Widow</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      Address
                                    </span>
                                  </div>
                                  <textarea
                                    class="form-control"
                                    name="basic[address]"
                                    required=""
                                    v-model="editForm.address"
                                  ></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button aria-hidden="true" data-dismiss="modal" class="btn">
                    Close
                  </button>
                  <button
                    class="btn btn-primary"
                    type="submit"
                    name="registerCourse"
                    @click.prevent="updateUser"
                  >
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> -->
      <!-- end reg -->
    </layout>
  </div>
</template>
<script>
import layout from "../../../BaseLayout/Layout.vue";
import VueElementLoading from "vue-element-loading";
import axios from "axios";
export default {
  //   props: ["states", "usersNo", "activeUsersNo"],
  components: {
    layout,
    axios,
    VueElementLoading,
  },
  data() {
    return {
      title: "Comment Manager",
      subtitle: "Today is a great one!",
      status: "active",
      search: {},
      url: "",
      form: {
        loading: false,
        file: {},
      },
      filename: "",
      blogs: {},
      //   file: "",
      comments: {},
      loading: false,
      editForm: {
        editLoading: false,
      },
    };
  },
  methods: {
    searchBlog() {
      axios.post("search-blog", this.search);
    },
    onFileChange(e) {
      const file = e.target.files[0];
      //////variable to preview image (image local url)
      this.url = URL.createObjectURL(file);
      this.image_file = file;
    },
    submit() {
      this.form.loading = true;
      axios
        .post("add-comment", this.form)
        .then((response) => {
          $("#addComment").modal("hide");
          //   console.log(response);
          this.toaster(response.data.success, "success");
          this.getComments();
        })
        .finally((response) => {
          this.form.loading = false;
          this.toaster(response.data, "success");
          this.getComments();
        });
    },

    getComments(page = 1) {
      this.loading = true;
      axios
        .get("get-comments?page=" + page)
        .then((response) => (this.blogs = response.data))
        .finally((response) => (this.loading = false));
    },

    getBlogs(page = 1) {
      this.loading = true;
      axios
        .get("getBlogs?page=" + page)
        .then((response) => (this.blogs = response.data))
        .finally((response) => (this.loading = false));
    },
  },

  mounted() {
    this.getComments();
    this.getBlogs();
  },
};
</script>

