<template>
  <div>
    <div class="h-100 bg-plum-plate bg-animation">
      <div class="d-flex h-100 justify-content-center align-items-center">
        <b-col md="8" class="mx-auto app-login-box">
          <!-- <div class="app-logo-inverse mx-auto mb-3" /> -->
          <div class="align-center"></div>
          <b-form @submit.prevent="submit" style="color: black !important">
            <div class="modal-dialog w-100 mx-auto">
              <div class="modal-content">
                <div class="modal-body">
                  <VueElementLoading
                    :active="loading"
                    spinner="line-scale"
                    color="#d550d8"
                  />
                  <div class="h5 modal-title text-center">
                    <h4 class="mt-2" style="color: black !important">
                      <div>Create Accounnt,</div>
                      <span>Please register your account below.</span>
                    </h4>
                  </div>
                  <b-form-group
                    id="authLNameInputGroup"
                    label-for="authLNameInput"
                    description=""
                  >
                    <b-form-input
                      id="authLNameInput"
                      type="text"
                      v-model="form.lastname"
                      required
                      placeholder="Enter Surname"
                      :state="
                        errors.lastname && errors.lastname.length > 0
                          ? false
                          : null
                      "
                      aria-describedby="authLNameInputFeedback"
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="authLNameInputFeedback">
                      {{ errors.lastname }}
                    </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group
                    id="authfNameInputGroup"
                    label-for="authfNameInput"
                    description=""
                  >
                    <b-form-input
                      id="authfNameInput"
                      type="text"
                      v-model="form.firstname"
                      required
                      placeholder="Enter First name"
                      :state="
                        errors.firstname && errors.firstname.length > 0
                          ? false
                          : null
                      "
                      aria-describedby="authfNameInputFeedback"
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="authfNameInputFeedback">
                      {{ errors.firstname }}
                    </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group
                    id="authmNameInputGroup"
                    label-for="authmNameInput"
                    description=""
                  >
                    <b-form-input
                      id="authmNameInput"
                      type="text"
                      v-model="form.middlename"
                      required
                      placeholder="Enter Middle name"
                      :state="
                        errors.middlename && errors.middlename.length > 0
                          ? false
                          : null
                      "
                      aria-describedby="authmNameInputFeedback"
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="authmNameInputFeedback">
                      {{ errors.middlename }}
                    </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group
                    id="authEmailInputGroup"
                    label-for="authEmailInput"
                    description="Provide a valid email"
                  >
                    <b-form-input
                      id="authEmailInput"
                      type="email"
                      v-model="form.email"
                      required
                      placeholder="Enter email..."
                      :state="
                        errors.email && errors.email.length > 0 ? false : null
                      "
                      aria-describedby="authEmailInputFeedback"
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="authEmailInputFeedback">
                      {{ errors.email }}
                    </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group
                    id="authPhoneInputGroup"
                    label-for="authPhoneInput"
                    description="Phone Number"
                  >
                    <b-form-input
                      id="authEmailInput"
                      type="number"
                      v-model="form.phone"
                      required
                      placeholder="Enter Phone Number"
                      :state="
                        errors.phone && errors.phone.length > 0 ? false : null
                      "
                      aria-describedby="authEmailInputFeedback"
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="authEmailInputFeedback">
                      {{ errors.phone }}
                    </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group
                    id="authPasswordInputGroup"
                    label-for="authPasswordInput"
                  >
                    <b-form-input
                      id="authPasswordInput"
                      type="password"
                      v-model="form.password"
                      required
                      :state="
                        errors.password && errors.password.length > 0
                          ? false
                          : null
                      "
                      aria-describedby="authPasswordInputFeedback"
                      placeholder="Enter password..."
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="authPasswordInputFeedback">
                      {{ errors.password }}
                    </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group
                    id="authPasswordConfirmInputGroup"
                    label-for="authPasswordConfirmInput"
                  >
                    <b-form-input
                      id="authPasswordConfirmInput"
                      type="password"
                      v-model="form.password_confirmation"
                      required
                      autocomplete="new-password"
                      aria-describedby="authPasswordConfirmInputFeedback"
                      placeholder="Confirm password..."
                    >
                    </b-form-input>
                  </b-form-group>

                  <div class="divider" />
                </div>
                <div class="modal-footer clearfix">
                  <div class="float-left">
                    <!-- <inertia-link class="btn-lg btn btn-link" href="/login"
                      >Cancel</inertia-link
                    > -->
                  </div>
                  <div class="float-right">
                    <b-button variant="primary" type="submit" size="lg"
                      >Create Account</b-button
                    >
                  </div>
                </div>
              </div>
            </div>
          </b-form>

          <div class="text-center text-white opacity-8 mt-3">
            Powered by Demscript
          </div>
        </b-col>
      </div>
    </div>
  </div>
</template>

<script>
import VueElementLoading from "vue-element-loading";
import axios from "axios";
export default {
  props: ["errors"],
  components: {
    VueElementLoading,
    axios,
  },
  data() {
    return {
      form: {},
      loading: false,
    };
  },
  methods: {
    submit() {
      this.loading = true;
      this.$inertia.post("/register", this.form, {
        onError: () => {
          this.loading = false;
          this.toaster("Error", "error");
        },
        onSuccess: () => {
          this.loading = false;
          this.toaster("Registered", "success");
        },
      });
      // .then((res) => {
      //   this.loading = false;
      //   this.toaster("Success", "success");
      // })
      // .catch((err) => {
      //   this.loading = false;
      //   this.errors = err.response.data.errors;          //   console.log(2);
      //   this.toaster("Error", "error");
      // });
    },
  },
};
</script>

<style>
</style>
